<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Заказ оформлен</title>
    <link href="~/css/home.css" rel="stylesheet"/>
</head>
<body>
<header>
    <div class="navbar">
        <div class="logo">
            <h1><span class="red">Cable</span><span class="black">Shop</span></h1>
        </div>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/Menu">Каталог</a></li>
                <li><a href="/Cart">Корзина</a></li>
            </ul>
        </nav>
    </div>
</header>
<main>
    <div class="cart-container" style="text-align:center;">
        <h2>Спасибо за заказ!</h2>
        <p>Ваш заказ успешно оформлен.</p>
        <a href="/Menu" class="btn">Вернуться в каталог</a>
    </div>
</main>
<footer>
    <p>)</p>
</footer>
</body>
</html>